/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2015, 4:22:35 PM
    Author     : kirbymckenzie
*/

body {
    background-image: url("Background.jpg");
}

h1 {
    color: gold;
    font-family: "Trebuchet MS", Helvetica, sans-serif
    
   
}

h1{
    font-size: 56px;
    
}


h2{
    color: gold;
    font-family: "Trebuchet MS", Helvetica, sans-serif
    
}

h2{
    font-size: 32px;
    
}


h3{
    color: gold;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

h3{
    font-size: 26px;
    
}

p{
    color: gold;
     font-family: "Trebuchet MS", Helvetica, sans-serif
     
}

table, th, td{
   
     color: gold;
     font-family: "Trebuchet MS", Helvetica, sans-serif
   
}

th {
    text-align: center;
}

a:link, a:visited {
    
color:activeborder
    
}

a{
    
    color: #C0C0C0;
}

a:hover {color: #C0C0C0; text-decoration: none}

